.sideMenu {
    position: fixed;
    height: 100%;
    width: 400px;
    top: 0;
    left: 0;
    border-right: 1px solid var(--black);
}

.sideMenu-close {
    position: relative;
    font-size: 2em;
    top: 20px;
    left: 350px;
    width: 20px;
}

.sideMenu-hidden {
    display: none;
}

.sideMenu-moduls {
    padding: 15px;
    color: var(--white);
    overflow: auto;
}

.sideMenu-moduls ul {
    list-style-type: none;
    margin-top: 25px;
}

.sideMenu-moduls ul li {
    padding: 10px;
    font-size: 1.5em;
}


.topNavigation {
    height: 100%;
    display: grid;
    grid-template-rows: 80px;
    grid-column-start: 1;
    grid-column-end: 13;
}

@media only screen and (min-width: 900px) {
    .topNavigation {
        grid-template-columns: 80px 320px auto;
    }
}

@media only screen and (max-width: 900px) {
    .topNavigation {
        grid-template-columns: 80px auto;
    }
}


.topNavigation div {
}


@media only screen and (min-width: 900px) {
    .tn-logo img {
        height: 55px;
    }
    .tn-logo {
        padding: 12px;
        grid-column-start: 2;
        grid-column-end: 3;
    }
}

@media (prefers-color-scheme: dark) {
    .tn-logo img {
        filter: grayscale(100%);
    }
}

@media only screen and (max-width: 900px) {
    .tn-logo {
        padding: 5%;
        grid-column-start: 2;
        grid-column-end: 3;
        text-align: center;
        display: none;
    }
}

.tn-mid {
    align-self: center;
    color: darkblue;
}

@media only screen and (max-width: 900px) {
    tn-mid {
        grid-column-start: 2;
        grid-column-end: 3;
    }
    .tn-mid-long {
        display: none;
    }
    .tn-mid-short {
        font-size: 1.5em;
    }
}

@media only screen and (min-width: 900px) {
    .tn-mid {
        grid-column-start: 3;
        grid-column-end: 4;
    }
    .tn-mid-short {
        display: none;
    }
}

.tn-right {
    grid-column-start: 1;
    grid-column-end: 2;
    align-self: center;
    text-align: center;
    padding-left: 15px;
}

.tn-right p i {
    font-size: 2.5em;
    color: var(--main-blue);
}

/* ========================= Bottom Menu ================================= */

.btn-botMenu {
    width: 100px;
    height: 100%;
}
